# Ignore all data files
*.mat
*.csv
*.dat
*.hea
*.qrs

# Ignore all data from specific folders
code/BUT_PPG/databases/big/**

# except for the following
!results.csv

# Ignore .pyc files == Python compiled files
*.pyc

# Ignore the LaTeX build files
*.aux
*.fls
*.fdb_latexmk
*.log
*.lot
*.lof
*.lol
*.out
*.synctex.gz
*.toa
*.toc
*.bbl
*.blg

# Obhajoba files
*.nav
*.snm